.operation {
    display: flex;
    color: white;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    margin: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.operation:hover {
    background: rgba(255, 255, 255, 0.3);
}

.operation:active {
    background: rgba(255, 255, 255, 0.4);
}