  .display {
    color:white;
    font-size: 40px;
    line-height: 40px;
    text-align: right;
    margin: 4px;
    padding: 48px 12px 8px 8px;
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(5px); 
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    overflow: hidden;
    height: 40px;
  }
  