@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap');

body {
  background-color: #79b4f0;
  background-image: linear-gradient(62deg, #79b4f0 0%, #dab3ff 100%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}
